dataset/data_road/testing/calib/*.txt
!dataset/data_road/testing/calib/.gitkeep
dataset/data_road/testing/image_2/*.png
!dataset/data_road/testing/image_2/.gitkeep
dataset/data_road/training/calib/*.txt
!dataset/data_road/training/calib/.gitkeep
dataset/data_road/training/gt_image_2/*.png
!dataset/data_road/training/gt_image_2/.gitkeep
dataset/data_road/training/image_2/*.png
!dataset/data_road/training/image_2/.gitkeep
dataset/data_road_velodyne/testing/velodyne/*.bin
!dataset/data_road_velodyne/testing/velodyne/.gitkeep
dataset/data_road_velodyne/training/velodyne/*.bin
!dataset/data_road_velodyne/training/velodyne/.gitkeep
output/*.png
!output/.gitkeep
lidar_scatter/*.png
!lidar_scatter/.gitkeep